@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*background-color: #e0e2dc; */ /* light grey */
  background-color: #eeeeee;
}

.prose ul {
  list-style: none; /* Remove default bullets */
}

.prose ul li::before {
  content: '\25E6'; /* Unicode for a small circle */
  color: slategrey; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Tweak as needed */
}

.prose {
  color: #181010;
}

.prose a {
  background-image: url('../public/underline.svg');
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 0.05rem;
  text-decoration: none;
}

.prose a:hover {
  color: #d70a1b;
}

.prose h1 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.prose h2 {
  font-size: 1.2rem;
}

.prose blockquote {
  margin: 0 1em 0 0.25em;
  padding: 0 0.75em 0 1em;
  border-left: 2px solid #dadada;
  quotes: none;
  font-style: italic;
  font-weight: light;
  color: #676767;
}

::selection {
  background: #0b3f6a;
  color: #fff;
}
