@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

.prose {
  color: #181010;
  width: 100%;
  min-width: 100%;
  padding: 0 1rem;
}

.dark .prose {
  color: #fff;
}

.prose strong {
  font-weight: bolder;
}

.dark .prose strong {
  color: #93d2fd;
  font-weight: bold;
}

.prose ul {
  list-style: none;
}

.prose code {
  background-color: #b3b3b3;
  color: #050505;
  padding: 0.2em 0.2em;
  border-radius: 0.3em;
  font-size: 0.85em;
}

.prose pre {
  padding: 0;
  border: none;
}

.prose pre code {
  background-color: inherit;
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}

.prose ul li::before {
  content: '\25E6'; /* Unicode for a small circle */
  color: slategrey; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Tweak as needed */
}

.prose a {
  background-image: url('../public/underline.svg');
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 0.05rem;
  text-decoration: none;
}

.dark .prose a {
  background-image: url('../public/underline-dark.png');
  color: #fff;
}

.prose a:hover {
  color: #d70a1b;
}

.dark .prose a:hover {
  color: #ff959e;
}

.prose h1 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.prose h2 {
  font-size: 1.2rem;
}

.prose h3 {
  font-size: 1.1rem;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3 {
  color: #fff; /* set your preferred color for dark mode */
}

.prose blockquote {
  margin: 0 0.1em 0 0.1em;
  padding: 0 0em 0 1em;
  border-left: 3px solid #b0afaf;
  border-left-width: 3px;
  border-color: #000000;
  quotes: none;
  font-style: normal;
  font-weight: normal;
  color: #595959;
}

.prose hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border-width: 0.1px;
  border-color: #b0afaf;
}

.dark .prose blockquote {
  border-color: #fff; /* set your preferred color for dark mode */
  color: #b4b4b4;
}

.prose img {
  width: 100%;
  margin-bottom: 0;
  display: block;
  object-fit: cover;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

::selection {
  background: #0b3f6a;
  color: #fff;
}

mark {
  background-color: #faec9b;
  color: black;
}

.dark ::selection {
  background: #93d2fd;
  color: #000;
}

.hover-container {
  display: inline-block; /* Only take up necessary space */
  position: relative; /* Context for absolute positioning */
}

.image-container {
  position: fixed; /* Fixed to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 80vh;
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Ignore pointer events when not visible */
}

.image-hover {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: auto; /* Reactivate pointer events for the image */
}

.hover-container:hover .image-container {
  display: flex; /* Show when the container is hovered */
}
