@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff8e7;
}

.prose {
  color: #181010;
  width: 100%;
  min-width: 100%;
  padding: 0 1rem;
}

.dark .prose {
  color: #fff;
}

.dark .prose strong {
  color: #f8f8f2;
  font-weight: bold;
}

.prose ul {
  list-style: none;
}

.prose pre,
.prose code {
  background: #d1d0d0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

.prose code::before {
  content: '';
}

.prose code::after {
  content: '';
}

.dark .prose code {
  color: #ffffff;
  background-color: #505050;
}

.prose ul li::before {
  content: '\25E6'; /* Unicode for a small circle */
  color: slategrey; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Tweak as needed */
}

.prose a {
  background-image: url('../public/underline.svg');
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 0.05rem;
  text-decoration: none;
}

.dark .prose a {
  background-image: url('../public/underline-dark.png');
  color: #fff;
}

.prose a:hover {
  color: #d70a1b;
}

.prose h1 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.prose h2 {
  font-size: 1.3rem;
}

.prose h3 {
  font-size: 1.2rem;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3 {
  color: #fff; /* set your preferred color for dark mode */
}

.prose blockquote {
  margin: 0 1em 0 0.25em;
  padding: 0 0em 0 1.5em;
  border-left: 3px solid #b0afaf;
  border-left-width: 3px;
  border-color: #000000;
  quotes: none;
  font-style: normal;
  font-weight: normal;
  color: #595959;
}

.dark .prose blockquote {
  border-color: #fff; /* set your preferred color for dark mode */
  color: #b4b4b4;
}

.prose img {
  width: 100%;
  margin-bottom: 0;
  display: block;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  filter: grayscale(1); /* Apply grayscale and blur effect */
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.prose img:hover {
  filter: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎨🖌️</text></svg>")
      16 0,
    auto;
}

::selection {
  background: #0b3f6a;
  color: #fff;
}

.dark ::selection {
  background: #fff49b;
  color: #000;
}

.hover-container {
  display: inline-block; /* Only take up necessary space */
  position: relative; /* Context for absolute positioning */
}

.image-container {
  position: fixed; /* Fixed to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 80vh;
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Ignore pointer events when not visible */
}

.image-hover {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: auto; /* Reactivate pointer events for the image */
}

.hover-container:hover .image-container {
  display: flex; /* Show when the container is hovered */
}
