<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>xyz.bneo.photokit</string>
<key>CFBundleName</key><string>photokit</string>
<key>NSPhotoLibraryUsageDescription</key><string>Show photos from a journal day in the blog editor.</string>
</dict></plist>
