<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>xyz.bneo.blog-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>__RUN_SH__</string>
  </array>
  <key>StartOnMount</key>
  <true/>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/bneo-blog-backup.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/bneo-blog-backup.log</string>
</dict>
</plist>
